<!-- ================= MONITORING ================= -->
<div id="monitoring" class="page">
    <div class="container">
        <h2>Monitoring Real-Time PSC</h2>
        <div class="cards">
            <div class="card">
                <h3>Tegangan</h3>
                <h2 id="voltage">400 V</h2>
            </div>
            <div class="card">
                <h3>Arus</h3>
                <h2 id="current">250 A</h2>
            </div>
            <div class="card">
                <h3>Daya Aktif</h3>
                <h2 id="power">180 kW</h2>
            </div>
            <div class="card">
                <h3>Frekuensi</h3>
                <h2>50 Hz</h2>
            </div>
        </div>
        <div class="chart-box">
            <h3>Grafik Daya Real-Time</h3>
            <canvas id="monitoringChart"></canvas>
        </div>
    </div>
</div>